<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="Dangt85" version="3.0">
	<servlet>
		<servlet-name>Dangt85</servlet-name>
		<servlet-class>com.appspot.dangt85.IndexServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Dangt85</servlet-name>
		<url-pattern>/dangt85</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>index</servlet-name>
		<jsp-file>/WEB-INF/jsp/index.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Posts</servlet-name>
		<servlet-class>com.appspot.dangt85.PostsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Posts</servlet-name>
		<url-pattern>/posts</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>showPosts</servlet-name>
		<jsp-file>/WEB-INF/jsp/showPosts.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>showPosts</servlet-name>
		<url-pattern>/showPosts</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>contact</servlet-name>
		<jsp-file>/WEB-INF/jsp/contact.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>contact</servlet-name>
		<url-pattern>/contact</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>redirect.jsp</welcome-file>
	</welcome-file-list>
</web-app>
